@media (max-width: 850px) {
    .help-content {
        margin-top: 80px;
        height: calc(100vh - 160px);
        height: calc(100svh - 160px);
        margin-left: 0;
        padding-bottom: 24px;
        padding-right: 16px;
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow-y: auto;
        padding-left: 16px;
    }

    h1 {
        font-size: 47px;
        line-height: 56.4px;
    }
}