@media (max-width: 990px) {
    .impressum {
        margin-left: 0;
        margin-top: 0;
        margin-right: 20px;
        overflow: auto;
        max-height: 75vh;
    }

    #sidelinks {
        flex-direction: row;
    }

    .user-icon {
        display: flex;
    }
}