@media (max-width: 990px) {
    .policy-content {
        margin-left: 20px;
        margin-bottom: 100px;
        max-height: calc(80vh - 96px);
        margin-top: 120px;
    }

    .user-icon {
        display: flex;
    }
}