@media (max-width: 850px) {
    .details {
        grid-template-columns: 1fr;
        width: 100%; 
        gap: 16px; 
        margin-left: 0; /* Entfernt linken Abstand */
        padding-left: 0; /* Entfernt inneren linken Abstand */
    }
    

    .undertask, .tasks, .goodmorning {
        width: 100%; 
        height: auto; 
    }    

    .titeljoin h1 {
        font-size: 8vw;  
    }

    .titeljoin p {
        font-size: 4vw;  
    }

    .undertask, .tasks, .goodmorning {
        width: 100%; 
        height: auto; 
        margin: 0; 
        padding: 0; 
    
    .goodmorning {
        display: none;
    }
    
    .titeljoin {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto; 
        width: 100%; 
        gap: 20px; 
        top: 60px;
        margin-left: 0; 
        padding-left: 0; 
    }
}
}