
@media (max-width: 850px) {
    @media (max-width: 850px) {
        .details {
            grid-template-columns: 1fr; /* Eine Spalte */
        }
    
        .details > div {
            width: 100%; /* Volle Breite */
        }
    
        .urgent {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
    }    
}