<div class="taskBackground">
    <form>
        <div class="flex taskBothSide">
            <div class="taskLeftSide width_440">
                <h1 class="h1Task">Add Task</h1>
                <section class="titleTask fonts">
                    <div class="flex">
                        <div class="title">Title</div>
                        <div class="colorRed">*</div>
                    </div>
                    <input class="cursorPointer" id="inputTitle" type="text" placeholder="Enter a title" required>
                </section>

                <section class="descriptionTask column">
                    <div class="fonts description">Description</div>
                    <textarea class="cursorPointer" id="textareaDescription" name=""
                        placeholder="Enter a Description"></textarea>
                </section>

                <section class="assignedTo">
                    <div class="assigned fonts">Assigned to</div>
                    <div>
                        <div class="relative">
                            <select class="input_12_16 cursorPointer fonts">
                                <option>Select contacts to assign</option>
                            </select>
                            <!-- <img class="dropDown cursorPointer" src="../Assets/addTask/arrow_drop_downaa.svg" alt=""> -->
                        </div>
                    </div>
                </section>
            </div>

            <div class="seperator"></div>

            <div class="taskRightSide width_440">
                <section>
                    <div class="flex fonts">
                        <div>Due date</div>
                        <div class="colorRed">*</div>
                    </div>
                    <input class="input_12_16 width_440 cursorPointer fonts" type="date" required>
                </section>

                <section>
                    <div class="fonts">Prio</div>
                    <div class="flex space-between">
                        <button class="prioButton cursorPointer fonts">Urgent
                            <img src="../Assets/addTask/Prio alta.svg" alt="">
                        </button>
                        <button class="prioButton cursorPointer fonts">Medium
                            <img src="../Assets/addTask/Prio media.svg" alt="">
                        </button>
                        <button class="prioButton cursorPointer fonts">Low
                            <img src="../Assets/addTask/Prio baja.svg" alt="">
                        </button>
                    </div>
                </section>

                <section>
                    <div class="flex fonts">
                        <div>Category</div>
                        <div class="colorRed">*</div>
                    </div>
                    <div class="custom-select relative">
                        <select class="input_12_16 cursorPointer fonts">
                            <option value="0">Select task category</option>
                            <option value="1">Technical Task</option>
                            <option value="2">User Story</option>
                        </select>
                        <!-- <img class="dropDown cursorPointer" src="../Assets/addTask/arrow_drop_downaa.svg" alt=""> -->
                    </div>
                </section>

                <section class="fonts">
                    <div>Subtasks</div>
                    <div class="relative">
                        <input class="input_12_16 cursorPointer" type="text" name="" id="inputSubtasks"
                            placeholder="Add new subtask">
                        <img class="subtaskImg cursorPointer" src="../Assets/addTask/Property 1=add.svg" alt="">
                    </div>
                </section>
            </div>
        </div>

        <div class="space-between">
            <div class="flex fonts required">
                <div class="colorRed">*</div>
                <span class="font_16">This field is required</span>
            </div>
            <!-- ICON BUTTON -->
            <div class="buttons">
                <button class="clearButton">Clear
                    <img src="../Assets/addTask/Vector.svg" alt="">
                </button>
                <button class="createButton">Create Task
                    <img src="../Assets/addTask/check.svg" alt="">
                </button>
            </div>
        </div>
    </form>
</div>