<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greetingTemplate</title>

    <!-- <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/responsive/NavbarResponsive.css"> -->
    <link rel="stylesheet" href="../styles/summary.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/greetingTemplate.css">
    <script src="../script/summary.js"></script>

</head>

<body>
    <!-- <aside w3-include-html="../templates/header.html"></aside> -->
    <!-- <aside w3-include-html="../templates/navbar.html"></aside> -->

    <div class="goodmorning goodmorningGreetingTemplate">
        <p class="good goodGreetingTemplate">Good Morning</p>
        <p class="name nameGreetingTemplate"></p>
    </div>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script>
        w3.includeHTML();
    </script>
</body>

</html>