<header>
    <div class="headerImg">
        <img  src="../Assets/joinLogo.svg" alt="">
    </div>    
        <p>Kanban Project Management Tool</p>
    
    <div class="user-info cursorPointer">
        <a class="helpme-icon" href="./help.html">
            <img src="/Assets/help_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="help icon">
        </a>

        <div onclick="showHeaderNav()" class="user-icon cursorPointer" id="name_menu">G</div> <!-- Removed extra space -->
    </div>
    <div id="test">
        <div id="mobile_headerNav" class="mobile_headerNav">
            <a class="headerNavHelp dNone" href="../html/help.html">Help</a>
            <a href="../html/legalNotice.html">Legal Notice</a>
            <a href="../html/policy.html">Privacy Policy</a>
            <a onclick="logout()">Log out</a>
        </div>
    </div>
    <script src="./scripts/header.js" defer></script> <!-- Ensure scripts load after the HTML -->
    <script src="./script.js" defer></script>
    <script src="./scripts/signup.js" defer></script>
    <script src="./styles/board.css" defer></script>
    <script src="./scripts/taskcard.js" defer></script>
</header>