<header>
    <div class="headerImg">
        <img src="../Assets/joinLogo.svg" alt="">
    </div>
    <p class="forPoliceLegal">Kanban Project Management Tool</p>

    <div class="user-info cursorPointer">
        <a class="helpme-icon" href="./help.html">
            <img src="../Assets/help_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="help icon">
        </a>

        <div onclick="showHeaderNav()" class="user-icon cursorPointer" id="name_menu">G</div>
    </div>
    <div id="test">
        <div id="mobile_headerNav" class="mobile_headerNav">
            <a class="headerNavHelp dNone" href="../html/help.html">Help</a>
            <a href="../html/legalNoticeLoggedIn.html">Legal Notice</a>
            <a href="../html/policyLoggedIn.html">Privacy Policy</a>
            <a onclick="logout()">Log out</a>
        </div>
    </div>
    <script src="../script/header.js" defer></script>
    <script src="../script.js" defer></script>
    <script src="../script/summary.js" defer></script>
    <link rel="stylesheet" href="../styles/responsive/legalNoticeResponsive.css">
</header>