<header>
    <div>
        <img class="join_logo_mobile" src="./../../assets/img/00_General_elements/join_logo_mobile.svg" alt="">
        <p>Kanban Project Management Tool</p>
    </div>
    <div class="user-info">
        <a class="helpme-icon" href="./help.html">
            <img src="/Assests/help_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="help icon">
        </a>
        <div onclick="showHeaderNav()" class="user-icon" id="user-initial"></div>
    </div>
    <div id="test">
        <div id="mobile_headerNav" class="mobile_headerNav">
            <a class="headerNavHelp dNone" href="/assets/html_templates/helpme.html">Help</a>
            <a href="./../../assets/html_templates/legal_notice.html">Legal Notice</a>
            <a href="./../../assets/html_templates/privacy.html">Privacy Policy</a>
            <a onclick="logout()">Log out</a>    
        </div>
    </div>
    <!-- Make sure the script is loaded correctly -->
    <script src="./scripts/header.js" defer></script>
</header>
