<div id="sidebar">
    <a href="board.html">
    <img class="sidebarlogo" src="../Assets/JoinLogoWhite.svg" alt="Join-logo"></a>

    <div class="sidelinks" id="sidelinks">
        <section id="widget_1" class="widget ">
            <a class="sidebartext" href="summary.html#widget_1">
                <img class="sidebarimg" src="../Assets/summaryDesktop.svg" alt="summary">
                Summary
            </a>
        </section>

        <div class="forMobile">
            <section id="widget_2" class="widget">
                <a class="sidebartext" href="addTask.html#widget_2">
                    <img class="sidebarimg" src="../Assets/addTaskDesktop.svg" alt="add task">
                    Add Task
                </a>
            </section>

            <section id="widget_3" class="widget">
                <a class="sidebartext" href="board.html#widget_3">
                    <img class="sidebarimg" src="../Assets/boardDesktop (2).svg" alt="board">
                    Board
                </a>
            </section>
        </div>

        <section id="widget_4" class="widget">
            <a class="sidebartext" href="contacts.html#widget_4">
                <img class="sidebarimg" src="../Assets/contactsDesktop.svg" alt="contacts">
                Contacts
            </a>
        </section>
    </div>

    <div class="backToLogIn">
        <a href="login.html"><img src="../Assets/navbar/Icons.svg" alt="">Log In</a>
    </div>

    <div class="navbarResponse">
        <div id="sidefoot">
            <div class="sidebarPolicyLegal">
                <a class="sidebartext sidebarPolicy" href="../html/policyLoggedIn.html">Privacy Policy</a>
                <a class="sidebartext sidebarLegalNotice" href="../html/legalNoticeLoggedIn.html">Legal Notice</a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../styles/responsive/legalNoticeResponsive.css">
