<section>
    <div class="fonts font_2A3647">Prio</div>
    <div class="flex space-between">
        <button id="urgent" type="button" class="prioButton cursorPointer fonts"
            onclick="setPrio('urgent', event)">
            Urgent
            <img id="urgentSvg" src="../Assets/addTask/Prio alta.svg" alt="">
        </button>

        <button id="medium" type="button" class="prioButton cursorPointer fonts mediumWhite"
            onclick="setPrio('medium', event)">
            Medium
            <img id="mediumSvg" src="../Assets/addTask/Prio media white.svg" alt="">
        </button>

        <button id="low" type="button" class="prioButton cursorPointer fonts"
            onclick="setPrio('low', event)">
            Low
            <img id="lowSvg" src="../Assets/addTask/Prio baja.svg" alt="">
        </button>
    </div>
</section>