main {
    margin-top: 120px;
    margin-left: 260px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.taskBackground {
    background-color: #FFF;
    border-radius: 30px;
    max-width: 1116px;
}

.h1Task {
    width: 466px;
    height: 78px;
    margin: 0;
    font-size: 61px;
}

.taskBothSide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.taskLeftSide {
    height: 376px;
}

.titleTask {
    height: 96px;
    gap: 8px;
}

.title {
    height: 24px;
}

#inputTitle {
    border-radius: 10px;
    padding: 12px 21px;
    width: 100%;
}

input::placeholder {
    width: 398px;
    height: 24px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
}

.descriptionTask {
    height: 168px;
    gap: 8px;
}

#textareaDescription {
    height: 120px;
    border-radius: 10px;
    padding: 18px 15px;
    width: 100%;
}

textarea::placeholder {
    width: 408px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.assignedTo {
    height: 80px;
    gap: 8px;
}

.assigned {
    width: 112px;
    height: 24px;
}

.seperator {
    background-color: #D1D1D1;
    width: 1px;
    height: 424px;
    rotate: -0;
}

.taskRightSide {
    height: 416px;
}

.subtaskImg {
    position: absolute;
    top: 17px;
    right: 12px;
}

.required {
    width: 170px;
    height: 27px;
}

.required span {
    font-size: 16px;
}

.buttons {
    width: 334px;
    height: 56px;
    gap: 4px;
}

.clearButton {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    grid-area: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.createButton {
    width: 183px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2a3647;
    color: #FFF;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}