.taskBackground {
    background-color: rgba(0, 0, 0, 0.1);
    width: 1116px;
    height: 870px;
    top: -3975px;
    left: -1012px;
    border-radius: 30px;
}

.taskLeftSide {
    width: 440px;
    height: 376px;
    top: 174px;
    left: 74px;
}

.taskRightSide {
    width: 440px;
    height: 416px;
    top: 174px;
    left: 610.25px;
}

.seperator {
    background-color: black;
    width: 1px;
    height: 200px;
    margin-right: 10px;
}

.h1Task {
    width: 466px;
    height: 78px;
    top: 64px;
    left: 74px;
    gap: 1px;
}

#closeTask {
    width: 32px;
    height: 32px;
    top: 64px;
    left: 1044px;
    border-radius: 56px;
}

.titleTask {
    height: 96px;
    gap: 8px;
}

.title {
    height: 24px;
}

#inputTitle {
    height: 64px;
    gap: 4px;
}

.descriptionTask {
    height: 168px;
    top: 112px;
    gap: 8px;
}

.textareaDescription {
    height: 136px;
    gap: 4px;
}

.assignedTo {
    height: 80px;
    top: 296px;
    gap: 8px;
}

.assigned {
    width: 112px;
    height: 24px;
}