main {
    margin-top: 120px;
    margin-left: 260px;
}

#boardHeader h2 {
    font-size: 61px;
}

#boardHeader {
    display: flex;
    justify-content: space-between;
}

#boardSearchbar {
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}

button {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #2A3647;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    color: #2A3647;
}

#columnTitles {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#columnTitles div {
    width: 22%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#taskBoard {
    top: 336px;
    left: 232px;
    padding-right: 64px;
    padding-left: 64px;
    gap: 26px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 252px;
    height: 688px;
    gap: 16px;
}

.task {
    width: 252px;
    height: 263px;
    padding: 16px;
    gap: 10px;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.column:hover {
    background-color: #e0e0e0;
}

.task:hover {
    cursor: pointer;
}

#clearButton {
    width: 96.2px;
}

.dialogBackground{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}