#widget_2 {
    background-color: #2A3647 !important;
}

#widget_2:hover {
    background-color: #2A3D59 !important;
}

#widget_3 {
    background-color: #091931;
}

main {
    margin: 0 !important;
}

#boardHeader h2 {
    font-size: 61px;
}

#headerWrapper {
    width: 1208px;
    height: 232px;
    left: 232px;
    gap: 0px;
    display: flex;
    align-items: center;
    position: relative;
}

#boardHeader {
    display: flex;
    width: 1056px;
    height: 73px;
    top: 79.5px;
    left: 64px;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.searchbarBoard {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    line-height: 24px;
    background-color: #FFF;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 32px;
    height: 55px;
}

#boardSearchbar {
    width: 100%;
    border: none;
}

.seperatorSearchbar {
    height: 50px;
    border: 1px solid #333;
}

.input-icon {
    width: 48px;
    height: 32px;
    margin-left: 8px;
}

#findAddTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 504px;
    height: 48px;
}

#buttonAddTask {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px;
    border-color: #2A3647;
    padding: 8px 16px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 21px;
}

.column-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 18px;
}

.column-title img {
    margin-left: auto;
}

.task.user-story h4 {
    background-color: #0038FF;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}

.task.technical-task h4 {
    background-color: #1FD7C1;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}

#taskBoard {
    width: 1208px;
    height: 688px;
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    position: relative;
    left: 232px;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
}

.column {
    width: 252px;
    height: 688px;
    gap: 16px;
    overflow-y: auto;
}

#toDoColumn,
#inProgressColumn,
#awaitFeedbackColumn,
#doneColumn {
    width: 100%;
    overflow-y: scroll;
}

.task {
    min-width: 242px;
    max-width: 242px;
    padding: 8px;
    gap: 10px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 20px;
    height: auto;
}

.column:hover {
    background-color: #e0e0e0;
}

#clearButton {
    width: 96.2px;
}

.dialogBackground {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskBackground {
    background-color: #FFF;
    border-radius: 30px;
    max-width: 1116px;
    max-height: 870px;
    padding: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#closeAddTaskOnBoard:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

.no-tasks {
    color: #888;
    text-align: center;
    font-style: italic;
}

.task-category {
    padding: 2px 6px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}

.task-category.user-story {
    background-color: #0038FF;
    color: white;
}

.task-category.technical-task {
    background-color: #1FD7C1;
    color: white;
}

.contact-initial {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;
}


.action-link {
    display: flex;
    color: gray;
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
}

.action-link:hover {
    color: #3498db;
}

.link-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.card-container {
    position: relative;
    padding-bottom: 40px;
}

.priority-symbol {
    margin-top: 5px;
}

.priority-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}

.contact-priority-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.priority-symbol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

.subtask-progress-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.subtask-progress-bar {
    height: 5px;
    border-radius: 5px;
    background-color: lightgray;
    flex-grow: 1;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}

.subtask-progress-bar .filled {
    height: 100%;
    background-color: blue;
    width: 0%;
    transition: width 0.3s ease;
}

#cardOverlayContacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar-background {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: blue;
    width: 0%;
    transition: width 0.3s ease;
}