.goodmorningGreetingTemplate {
    left: 0;
    justify-content: center;
    align-items: center;
    top: auto;
    display: flex;
    gap: 0;
    position: static;
}

.goodGreetingTemplate {
    justify-content: center;
    align-items: center;
}

.nameGreetingTemplate {
    justify-content: center;
    align-items: center;
}
