
.help-content {
    margin-top: 96px;
    height: calc(100vh - 96px);
    margin-left: 328px;
    padding-bottom: 24px;
    padding-right: 96px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
  }
  
  h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  
  mark {
    background: none;
    color: var(--clr-light-blue);
  }
  
  .headline-nav {
    display: flex;
    align-items: center;
  }
  
  .back-arrow {
    margin-left: auto;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-arrow:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .back-arrow:hover img {
    transform: scale(1.1);
  }
  
  .text-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .step-content {
    display: flex;
    gap: 35px;
  }
  
  .email-link {
    color: var(--clr-light-blue);
    text-decoration: none;
  }
  
  @media (max-width: 850px) {
    .help-content {
      margin-top: 80px;
      height: calc(100vh - 160px);
      height: calc(100svh - 160px);
      margin-left: 0;
      padding-bottom: 24px;
      padding-right: 16px;
      padding-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow-y: auto;
      padding-left: 16px;
    }
  
    h1 {
      font-size: 47px;
      line-height: 56.4px;
    }
  }