::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.impressum {
    margin-left: 270px;
    margin-top: 120px;
    margin-right: 20px;
    overflow: auto;
    max-height: 80vh;
}

.helpme-icon,
.user-icon {
    display: none;
}