.dnone {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
}

.content-wrapper {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    position: relative;
    flex-direction: column;
    overflow: auto;
    /* Enable scrolling inside this wrapper */
    gap: 10px;
}

#login-logoContainer {
    position: absolute;
    /* Make sure it's absolutely positioned */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    /* Higher z-index to stay on top */
    animation: move-logo 1.5s ease forwards;
}

.joinLogo img {
    width: 100px;
    height: 100px;
}

@keyframes move-logo {
    0% {
        transform: translate(-50%, -50%) scale(3);
    }

    100% {
        transform: translate(-50vw, -50vh) scale(1);
    }
}

.signUp-button span {
    text-decoration: none;
    font-size: 18px;
    color: rgb(16, 14, 14);
    padding-right: 30px;
}

/* Main container styling */
.login-joinContainer {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 450px;
}

.login-joinContainer h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-weight: 700;
    text-underline-offset: 18px;
    text-decoration-color: #3498db;
    text-decoration-thickness: 2px;
}

.login-joinContainer .signUp {
    margin-right: 0% !important;
}

.login-signup-button {
    order: -1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    gap: 5px;
}

/* Prevent the button content from distorting */
.login-signup-button span {
    white-space: nowrap;
    /* Prevents the text from wrapping */
}

.login-signup-button button {
    width: 105px;
}

.input-group {
    padding-bottom: 20px;
    display: flex;
    max-width: 400px;
    width: 100%;
}

.input-group input {
    padding: 12PX;
    border-radius: 15px;
    border: 1px solid #dddddd;
    width: 100%;
    /* color: #f6f7f8; */
    font-size: 16px;
}

.input-group input:focus {
    border-color: #3498db;
    outline: none;
}

.icon img {
    cursor: pointer;
    ;
}

.checkbox {
    padding-bottom: 1em;
    padding-left: 1em;
}

/* Button styles */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-button {
    border: 2px solid #2a2a2a;
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: medium;
    font-weight: 600;
    box-shadow: none;
}

.login-button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #3498db;
    background-color: #3498db;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.login-button.guest-btn {
    border: 2px solid #1a2b47;
    background-color: wHITE;
    color: #1a2b47;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
    white-space: nowrap;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* Prevent the icon from blocking clicks */
}

.icon img {
    width: 20px;
    height: 20px;
}

.login-button.guest-btn:hover {
    background-color: transparent;
    border: 2px solid #3498db;
    /*  Blue border */
    color: #3498db;
    /* White text on hover */
}

.joinLogo {
    position: absolute;
    padding: 4.5em;
}

#login-logoContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    animation: move-logo 1.5s ease forwards;
}

.notice_link {
    margin-top: 80px;
    padding-left: 40px;
    color: #a0a0a0;
    z-index: 1000;
    text-decoration: none;
}

/* Toast Styles */
.toast {
    visibility: hidden;
    /* Hidden by default */
    min-width: 150px;
    /* Minimum width */
    min-height: 80px;
    background-color: #2A3647;
    color: #f4f4f4;
    /* White text */
    text-align: center;
    /* Center text */
    border-radius: 15px;
    /* Rounded corners */
    padding: 15px;
    /* Padding inside the toast */
    position: fixed;
    /* Fixed position */
    z-index: 2001;
    /* On top of other elements */
    right: 0;
    /* Start on the right */
    top: 50%;
    /* Center vertically */
    transform: translate(100%, -80%);
    /* Start hidden on the right */
    opacity: 0;
    /* Start invisible */
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Smooth transition */
}

/* Show the toast with sliding in effect */
.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translate(-90%, -90%);
    /* Move to the center of the screen */
}

/* Hide the toast with sliding out effect */
.toast.hide {
    transform: translate(100%, -80%);
    /* Slide out to the right */
    opacity: 0;
    /* Fade out */
}

/* .legalPolicy {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
} */

.legalPolicy a {
    color: lightgray !important;
}

.legalPolicy a:hover {
    color: #3498db !important;
}

/* Toast types: success and error */
.toast.success {
    background-color: #2A3647;
}

.toast.error {
    background-color: #dc3545;
    /* Red for error */
}

.User-Guest {
    display: flex;
    justify-content: center;
}

.toast {
    background-color: #2a3647;
    border-radius: 20px;
    width: 326px;
    height: 74px;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - -140px);
}

.toast p {
    width: 235px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}