#sidebar {
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 232px;
    position: fixed;
    z-index: 1000;
    box-sizing: content-box;
    top: 0;
    justify-content: space-between;
}

.sidebarlogo {
    height: 205px;
    width: 130px;
    padding-top: 64px;
    padding-bottom: 20px;
}

#widget_1,
#widget_2,
#widget_3,
#widget_4 {
    box-sizing: border-box;
    padding: 8px 12px;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    cursor: pointer;
}

.sidebartext {
    text-decoration: none;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 20px;
}

.sidelinks {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.forMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget:hover {
    background-color: #2A3D59;
    box-sizing: border-box;
}


.widget.active,
.widget:target {
    background: #2A3D59;
}

#sidefootLoginSignUp {
    display: flex;
    gap: 0px;
    width: 100%;
    margin-bottom: 75px;
    justify-content: center;
    margin-top: 100px;
}

#sidefootLoginSignUp a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
    margin: 2px 0;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidefootLoginSignUp a:hover {
    color: #3498db;
    font-weight: 700;
}

#sidefoot {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-bottom: 75px;
    justify-content: center;
    margin-top: 100px;
}

#sidefoot a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
    margin: 2px 0;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidefoot a:hover {
    color: #3498db;
    transform: scale(1.1);
}

.sidefoot a:focus {
    background: #3498db;
}

.menuIcons p {
    margin: 0;
}

.sidelinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 12px;
}

.backToLogIn a {
    display: none;
}

.navbarResponse {
    width: 100%;
}