::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
  border: none;
}

.policy-content {
  margin-left: 270px;
  margin-top: 120px;
  margin-right: 20px;
  overflow: auto;
  max-height: calc(100vh - 120px);
}

.helpme-icon,
.user-icon {
  display: none;
}