body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    max-width: 1920px;
}

/* Alle Style-Informationen werden mit berücksichtigt, *= zählt für alles*/
* {
    box-sizing: border-box;
}

/* FONT  */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: 'regular';
    font-weight: 400;
    src: url('../fonts/static/Inter_24pt-Regular.ttf') format('woff2');
}

html {
    font-family: "Inter" !important;
}

main {
    margin-top: 120px;
    margin-left: 260px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
}

::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.cursorPointer {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.colorRed {
    color: red;
}

.flex {
    display: flex;
    align-items: center;
}

.fd-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-evently {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.relative {
    position: relative;
}

.fonts {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.font_2A3647 {
    color: #2A3647;
}

.width_440 {
    width: 440px;
}

.input_12_16 {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    padding: 12px 16px;
}

.dNone {
    display: none;
}