/* FONT */
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

html {
    font-family: "Inter";
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2A3647;
}

::-webkit-scrollbar-thumb {
    background: #29ABE2;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.colorRed {
    color: red;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fonts {
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
}

.width_440 {
    width: 440px;
}